:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-100: #007ea7;
  --primary-200: #53add9;
  --primary-300: #bfffff;
  --accent-100: #00a8e8;
  --accent-200: #004d85;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #00141a;
  --bg-200: #133543;
  --bg-300: #2e4e5d;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00141a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23133543'/%3E%3Cstop offset='1' stop-color='%2300141A'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230a252f'/%3E%3Cstop offset='1' stop-color='%2300141A'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-100);
}

/* general */

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--text-100);
}

/* sections */

/* Home section Starts */

.home {
  height: 100%;
  max-width: 1366px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.profile-card {
  max-width: 50%;
}

.section-title .title-txt {
  color: var(--primary-100);
  font-size: 4.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.section-title .subtitle-txt {
  color: var(--text-100);
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.section-txt {
  color: var(--text-100);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.button {
  background-color: transparent;
  border: 1px solid var(--primary-100);
  border-radius: 2rem;
  color: var(--text-200);
  font-size: 1.2rem;
  padding: 10px 50px;
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--primary-100) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  position: absolute;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 60px;
  z-index: 1;
}

.button-icon {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s ease-out;
}

.button:hover .button-icon {
  left: calc(100% - 30px);
}

.button:hover {
  background-position: left bottom;
  color: var(--text-100);
}

.img-container {
  width: 40%;
}

.img-profile {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .profile-card,
  .img-container {
    max-width: 100%;
    order: 2;
  }

  .section-title .title-txt,
  .section-title .subtitle-txt,
  .section-txt {
    text-align: center;
  }

  .img-container {
    max-width: 100%;
    order: 1;
    margin-bottom: 20px;
  }

  .img-profile {
    width: 100%;
    margin: 0 auto;
  }

  .button {
    display: inline-block;
    position: relative;
    padding: 10px 50px;
  }
}

/* Home Section Ends */

/* Contact section Starts */

.contact {
  height: 100%;
  max-width: 1366px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  padding: 50px;
}

.contact .textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact .textContainer h1 {
  color: var(--primary-100);
  font-size: 4.5rem;
  font-weight: 400;
}

.contact .textContainer h2 {
  color: var(--text-100);
  font-size: 2rem;
  font-weight: 300;
}

.contact .textContainer span {
  color: var(--text-200);
  font-weight: 300;
}

.contact .formContainer {
  flex: 1;
  position: relative;
}

.contact .formContainer .phoneSvg {
  stroke: var(--primary-100);
  position: absolute;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: auto;
}

.contact .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .formContainer form input,
.contact .formContainer form textarea {
  padding: 20px;
  background-color: var(--bg-200);
  border: 1px solid var(--bg-100);
  color: var(--text-100);
  border-radius: 10px;
}

.contact .formContainer form #submit-btn {
  background-color: transparent;
  border: 1px solid var(--primary-100);
  border-radius: 2rem;
  color: var(--text-200);
  font-size: 1.2rem;
  padding: 10px 50px;
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--primary-100) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 60px;
  z-index: 1;
}

.contact .formContainer form #submit-btn:hover {
  background-position: left bottom;
  color: var(--text-100);
}

.icon {
  color: var(--primary-100);
}

.error-message {
  color: var(--primary-100);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.success-message {
  color: var(--primary-100);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .contact .textContainer {
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }

  .contact .formContainer {
    padding: 50px;
    width: 100%;
  }

  .contact .formContainer {
    position: relative;
  }

  .contact .formContainer .phoneSvg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .contact .formContainer form input,
  .contact .formContainer form textarea {
    padding: 10px;
  }

  .contact .formContainer form button {
    padding: 10px;
  }
}

/* Contact section Ends */

/* Portfolio section Starts */

.portfolio {
  margin: 50px auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.portfolio h1 {
  text-align: center;
  color: var(--text-100);
  font-size: 4.5rem;
  font-weight: 300;
}

.portfolio ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.portfolio h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-100);
  text-align: center;
}

.portfolio .deskSVG {
  margin-top: 2rem;
  stroke: var(--accent-100);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .container .item {
  width: 40%;
  margin: 20px;
  height: 380px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-100);
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.portfolio .container .item h3 {
  position: absolute;
  font-size: 1rem;
  font-weight: 300;
}

.portfolio .container .item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 1;
}

.portfolio .container .item:hover {
  background-color: var(--primary-100);
}

.portfolio .container .item:hover img {
  opacity: 0.2;
  z-index: 0;
}

.example-container {
  width: 50vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  color: var(--primary-100);
  position: absolute;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 5rem;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.example-container img {
  position: absolute;
  max-width: 50vw;
  max-height: 45vh;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: var(--bg-100);
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2rem;
  outline: none;
  font-size: 16px;
  color: var(--text-200);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in;
}

.tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--bg-200);
  z-index: -1;
}

.tab.active {
  color: var(--accent-100);
  background-color: var(--bg-200);
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  .portfolio ul {
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio .container {
    width: 100%;
  }

  .portfolio .container .item {
    width: 150px;
    height: 120px;
  }

  .tabs {
    flex-direction: column; /* Cambia a diseño de columna para más espacio */
    align-items: center; /* Alinea los elementos al centro */
    padding: 5px; /* Reduce el relleno */
  }

  .tab {
    padding: 15px;
    margin-bottom: 10px;
  }
}

/* Portfolio section Ends */

/* Projects section Starts */

.portfolioList {
  font-size: 1.2rem;
  color: var(--text-200);
  margin-right: 50px;
  padding: 10px 50px;
  border-radius: 2rem;
  border: 1px solid var(--accent-100);
  background-color: transparent;
  cursor: pointer;
}

.portfolioList:hover {
  background-color: var(--primary-100);
  color: var(--text-100);
  /* text-decoration: underline; */
}

.portfolioList.active {
  color: var(--primary-100);
  background-color: transparent;
  /* text-decoration: underline; */
  padding-bottom: 1px;
}

@media (max-width: 768px) {
  .portfolioList {
    margin-right: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

/* Projects section Ends */

/* Footer section */

footer {
  padding: 0.5rem 0;
  margin: 2.5rem 1rem;
}

footer p {
  text-align: center;
  font-size: 0.75rem;
}

.footer-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
